.main{
    margin-top: 20px;
    margin-bottom:20px;
}
.table-container {
    max-height: 200px;
    overflow-y: scroll;
  }
  .th.fixed {
    top: 0;
    z-index: 2;
    position: sticky;
    background-color: white;
 }
 .table{
    overflow-y:scroll;
    height:100px;
    display:block;
 }
 